.tide {
    display: flex;
    justify-content: space-between;
    color: #515151;
    margin-left: 6%;
    margin-right: 6%;
}
.error{
    margin-top: 80px;
    font-size: 250px;
    font-weight:500;
}
.maybe {
    margin-top: -20px;
    font-size: 30px;
}